@import "base";

/* #SITE SPECIFIC CUSTOM CSS (e.g. Base Overrides)
---------------------------------
	#TYPOGRAPHY OVERRIDES
		#@FONT-FACE
        #BODY
		#HEADINGS
		#PARAGRAPHS
    #LAYOUT OVERRIDES
		#BODY
		#CONTAINER
    #NAVIGATION
        #SITE-BRANDING
        #SITE-NAVIGATION
    #CONTENT
        #SECTIONS
--------------------------------- */

/* Custom Overrides */

body {
    
}

h1, h2, h3, h4, h5, h6 {
    
    line-height: inherit;
}

.hero h1 {
    line-height: inherit;
}


/*BODY*/



/*HEADER*/

section {
    padding: 0;
}

.site-branding img {
    width: 250px;
    position: absolute;
}

///*HOME Mouna Cover*///

.hero{
    padding: 0;
}

.site-main .mounacover {
    background-color: none;
    background-image: url(../img/home1.jpg);
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.mounacover img{
        width: 100%;
        display: block;
    }

.mouna-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

///*Heart & Contact*///

.home-heart {
    min-height: 400px;
    display: block;
    padding: 0;
}

.home-heart .container {
    padding: 20% 4%;
}

.heart-text {
    position: center;      
}

.home-heart a.button.alt {
  margin: 1.5em;
}

///*HOME Farm*///

.site-main .homefarm {
    padding: 0;
    min-height: 550px;
    background-color: none;
    background-image: url(../img/Farm2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.homefarm .container {
    padding: 20% 4%;
}

.homefarm img{
    width: 100%;
    display: block;
}

.homefarm a.button.alt {
    color: white;
    border: 1px solid white;
    margin: 1.5em;
}

/*.homefarm a:hover {
    color: #918989;
    background-color: white;
}
*/



///*HOME ARTS&CULTURE*///

.site-main .homearts {
    padding: 0;
    min-height: 550px;
    background-color: none;
    background-image: url(../img/Arts3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.homearts .container {
    padding: 20% 4%;
}


.homearts a.button.alt {
    color: white;
    border: 1px solid white;
    margin: 1.5em;
}


///*HOME EVENTS*///


.site-main .homeevents {
    padding: 0;
    min-height: 550px;
    background-color: none;
    background-image: url(../img/Event4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.home-events .container {
    padding: 20% 4%;
}

.homeevents a.button.alt {
    color: white;
    border: 1px solid white;
    margin: 1.5em;
}


/*FOOTER*/

.site-footer .container{
    padding-top: 4em;
    padding-bottom: 5em;
    border-top: 1px solid #6A6262;
}



//*SUB PAGE*//

///*OUR STORY*///

.site-main .ourstory {
    background-color: none;
    background-image: url(../img/Ourstory.jpg);
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.ourstory img{
        width: 100%;
        display: block;
    }

.ourstory-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

///*FARM*///

.site-main .farm {
    background-color: none;
    background-image: url(../img/Farm2.jpg);
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.farm img{
        width: 100%;
        display: block;
    }

.farm-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}


///*ARTS&CULTURE*///

.site-main .arts {
    background-color: none;
    background-image: url(../img/Arts3.jpg);
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.arts img{
        width: 100%;
        display: block;
    }

.arts-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}

///*EVENTS*///

.site-main .events {
    background-color: none;
    background-image: url(../img/Event4.jpg);
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.events img{
        width: 100%;
        display: block;
    }

.events-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}



///*Contact*///

.site-main .contactcover {
  background-color: none;
    background-image: url(../img/Contactpage.jpg);
    min-height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;  
}

.contactcover img{
        width: 100%;
        display: block;
    }

.contact-text{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);   
}










